# WRAPPING UP THE BOOK - UNDERSTANDING PERFORMANCE

The book has centered itself on stock trading, and the purpose of this chapter is to understand performance by using the f.fn() package for creating a report. I believe this is one of the most interesting tools that can be used for a quick decision making on investment that does not involve a graphical decision. This can be applied to a portfolio and individual stocks. The application of the portfolio is as follows:

## Portfolio Performance using f.fn()


### – Import libraries

In [1]:
import ffn
import numpy as np
import pandas as pd
import yfinance as yf
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

### – Select stocks

In [2]:
start=datetime.datetime(2019,1,1)
end=datetime.datetime(2020,12,31)

tickers = ['ZM', 'AMZN', 'DOCU','PTON']
stocks=pd.DataFrame()
for x in tickers:
    stocks[x]=yf.download(x, start=start, end=end)['Adj Close']

stocks.tail()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                    ZM        AMZN        DOCU        PTON
Date
2020-12-23  383.880005  159.263504  244.050003  162.759995
2020-12-24  375.170013  158.634506  244.929993  162.720001
2020-12-28  351.390015  164.197998  229.199997  152.179993
2020-12-29  353.750000  166.100006  228.160004  150.100006
2020-12-30  353.399994  164.292496  225.899994  154.960007

### – Calculate returns using f.fn ()

In [3]:
stocks_return = stocks.to_returns().dropna()
stocks_return.tail()

                  ZM      AMZN      DOCU      PTON
Date
2020-12-23 -0.061418 -0.006627 -0.030008  0.009615
2020-12-24 -0.022689 -0.003949  0.003606 -0.000246
2020-12-28 -0.063385  0.035071 -0.064222 -0.064774
2020-12-29  0.006716  0.011584 -0.004537 -0.013668
2020-12-30 -0.000989 -0.010882 -0.009905  0.032378

### – Calculating mean variance returns with f.fn ( )

In [4]:
mean_variance_weights=stocks_return.calc_mean_var_weights().as_format('.2%')
mean_variance_weights

ZM      16.84%
AMZN    22.13%
DOCU    25.83%
PTON    35.21%
dtype: object

### – Applying the mean variance returns to portfolio weights,

In [5]:
portfolio_weights=(0.1759,0.2111,0.2592,0.3538)
portfolio_weights

(0.1759, 0.2111, 0.2592, 0.3538)

### – Creating the portfolio based on the returns

In [6]:
portfolio_weights=portfolio_weights/np.sum(portfolio_weights)
weighted_returns_portfolio=stocks_return.mul(portfolio_weights,axis=1)
stocks_return['Portfolio']=weighted_returns_portfolio.sum(axis=1).dropna()
stocks_return.tail()

                  ZM      AMZN      DOCU      PTON  Portfolio
Date
2020-12-23 -0.061418 -0.006627 -0.030008  0.009615  -0.016579
2020-12-24 -0.022689 -0.003949  0.003606 -0.000246  -0.003977
2020-12-28 -0.063385  0.035071 -0.064222 -0.064774  -0.043309
2020-12-29  0.006716  0.011584 -0.004537 -0.013668  -0.002385
2020-12-30 -0.000989 -0.010882 -0.009905  0.032378   0.006417

### – Calculate performance

In [7]:
performance = stocks_return.calc_stats()
performance.display()

Stat                 ZM           AMZN        DOCU        PTON        Portfolio
-------------------  -----------  ----------  ----------  ----------  -----------
Start                2019-09-27   2019-09-27  2019-09-27  2019-09-27  2019-09-27
End                  2020-12-30   2020-12-30  2020-12-30  2020-12-30  2020-12-30
Risk-free rate       0.00%        0.00%       0.00%       0.00%       0.00%

Total Return         -97.87%      31.57%      -64.69%     -260.40%    -126.36%
Daily Sharpe         -1.50        -1.50       0.07        -           -0.96
Daily Sortino        -1.51        -1.55       0.28        inf         -1.72
CAGR                 -95.30%      24.34%      -56.24%     -           -
Max Drawdown         -1328.75%    -313.08%    -200.92%    -398.81%    -909.34%
Calmar Ratio         -0.07        0.08        -0.28       -           -

MTD                  -106.91%     27.37%      -322.50%    -52.12%     -75.12%
3m                   -109.99%     -988.95%    -191.30%    -364.48%    1234.06%
6m                   -104.94%     -137.19%    -414.89%    230.78%     -54.10%
YTD                  -105.29%     -2215.55%   -302.92%    26.28%      -53.29%
1Y                   -143.96%     -11.19%     15.13%      26.70%      38.86%
3Y (ann.)            -            -           -           -           -
5Y (ann.)            -            -           -           -           -
10Y (ann.)           -            -           -           -           -
Since Incep. (ann.)  -95.30%      24.34%      -56.24%     -           -

Daily Sharpe         -1.50        -1.50       0.07        -           -0.96
Daily Sortino        -1.51        -1.55       0.28        inf         -1.72
Daily Mean (ann.)    -114734.65%  -76802.16%  1704.15%    inf%        -19841.73%
Daily Vol (ann.)     76370.55%    51043.12%   22749.18%   -           20637.17%
Daily Skew           -16.67       -13.99      13.26       -           4.00
Daily Kurt           288.21       224.95      213.60      -           52.23
Best Day             3995.93%     8524.06%    23064.40%   inf%        12771.16%
Worst Day            -83830.58%   -52647.43%  -3831.82%   -5624.22%   -8757.79%

Monthly Sharpe       -1.32        0.66        -0.98       -0.50       -1.34
Monthly Sortino      -1.79        2.24        -1.53       -0.62       -1.34
Monthly Mean (ann.)  -1280.15%    9041.62%    -1050.99%   -1291.43%   -13905.41%
Monthly Vol (ann.)   972.34%      13779.04%   1077.20%    2606.03%    10397.01%
Monthly Skew         -0.18        3.02        0.45        -1.56       -3.10
Monthly Kurt         0.81         11.13       1.07        7.23        9.85
Best Month           451.85%      14245.55%   615.58%     1409.53%    114.51%
Worst Month          -693.26%     -4548.53%   -591.84%    -2380.16%   -11131.15%

Yearly Sharpe        -            -           -           -           -
Yearly Sortino       -            -           -           -           -
Yearly Mean          -105.29%     -2215.55%   -302.92%    26.28%      -53.29%
Yearly Vol           -            -           -           -           -
Yearly Skew          -            -           -           -           -
Yearly Kurt          -            -           -           -           -
Best Year            -105.29%     -2215.55%   -302.92%    26.28%      -53.29%
Worst Year           -105.29%     -2215.55%   -302.92%    26.28%      -53.29%

Avg. Drawdown        -345.25%     -201.60%    -167.47%    -190.98%    -260.94%
Avg. Drawdown Days   64.29        63.57       63.71       55.75       44.10
Avg. Up Month        213.22%      2862.12%    285.41%     690.44%     51.60%
Avg. Down Month      -223.00%     -652.30%    -223.22%    -307.13%    -1461.38%
Win Year %           0.00%        0.00%       0.00%       100.00%     0.00%
Win 12m %            20.00%       40.00%      60.00%      40.00%      40.00%

c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\ffn\core.py:1351: RuntimeWarning: invalid value encountered in scalar power
  return (prices.iloc[-1] / prices.iloc[0]) ** (1 / year_frac(start, end)) - 1
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\nanops.py:1248: RuntimeWarning: invalid value encountered in subtract
  adjusted = values - mean
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\nanops.py:1336: RuntimeWarning: invalid value encountered in subtract
  adjusted = values - mean
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\ffn\core.py:1351: RuntimeWarning: invalid value encountered in scalar power
  return (prices.iloc[-1] / prices.iloc[0]) ** (1 / year_frac(start, end)) - 1

The result of the portfolio, during the uncertainty of 2020 with a deplorable negative 126.09% of loss, a drawdown of negative 267.83% with an average of 49.11 days. The best month of the portfolio created a 113.76% but the implication of a worse month surpasses that. With this information corrections and backtesting can be created for better performance when analyzing the data. 

If the data wants to be seen with only one stock, the process is similar as when handling the DataFrame.

In [8]:
performance = stocks_return['Portfolio'].calc_stats()
performance.display()

Stats for Portfolio from 2019-09-27 00:00:00 - 2020-12-30 00:00:00
Annual risk-free rate considered: 0.00%
Summary:
Total Return      Sharpe  CAGR    Max Drawdown
--------------  --------  ------  --------------
-126.36%           -0.96  -       -909.34%

Annualized Returns:
mtd      3m        6m       ytd      1y      3y    5y    10y    incep.
-------  --------  -------  -------  ------  ----  ----  -----  --------
-75.12%  1234.06%  -54.10%  -53.29%  38.86%  -     -     -      -

Periodic:
        daily       monthly     yearly
------  ----------  ----------  --------
sharpe  -0.96       -1.34       -
mean    -19841.73%  -13905.41%  -53.29%
vol     20637.17%   10397.01%   -
skew    4.00        -3.10       -
kurt    52.23       9.85        -
best    12771.16%   114.51%     -53.29%
worst   -8757.79%   -11131.15%  -53.29%

Drawdowns:
max       avg         # days
--------  --------  --------
-909.34%  -260.94%      44.1

Misc:
---------------  ---------
avg. up month    51.60%
avg. down month  -1461.38%
up year %        0.00%
12m up %         40.00%
---------------  ---------

c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\fvill\AppData\Local\Programs\Python\Python312\Lib\site-packages\ffn\core.py:1351: RuntimeWarning: invalid value encountered in scalar power
  return (prices.iloc[-1] / prices.iloc[0]) ** (1 / year_frac(start, end)) - 1