## Comparing GDP

When analyzing growth, it is important to compare how the growth of the country that is being analyzed compares to the other countries. In this process, a graph will be developed to understand how the different countries behaved.

Installing packages:

In [39]:
from fredapi import Fred
fred = Fred (api_key='e6169f67af6efc86eb6c2289bff3111c')
import pandas_datareader as pdr
import pandas as pd
import datetime
import matplotlib.pyplot as plt

Setting a date and retrieving information based on the FRED code:

In [40]:

# Define the start and end dates
start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2020, 12, 31)

gdp_comparison = pdr.DataReader(['BRAGDPNQDSMEI', 'CHNGDPNQDSMEI', 'USAGDPNQDSMEI'],'fred',start,end)
print(gdp_comparison.tail())

            BRAGDPNQDSMEI  CHNGDPNQDSMEI  USAGDPNQDSMEI
DATE
2019-10-01   1.892367e+12   2.767980e+13   5.475598e+12
2020-01-01   1.910112e+12   2.052448e+13   5.426628e+12
2020-04-01   1.756867e+12   2.483477e+13   4.978286e+12
2020-07-01   1.913635e+12   2.643557e+13   5.411910e+12
2020-10-01   2.028983e+12   2.956188e+13   5.506126e+12

Modifying the names on the country list:

In [41]:
gdp_comparison = gdp_comparison.rename(columns={'BRAGDPNQDSMEI':'Brazil', 'CHNGDPNQDSMEI':'China', 'USAGDPNQDSMEI':'USA'})
gdp_comparison.head()

                  Brazil         China           USA
DATE
2015-01-01  1.490938e+12  1.511379e+13  4.515882e+12
2015-04-01  1.485246e+12  1.685497e+13  4.569946e+12
2015-07-01  1.502677e+12  1.765977e+13  4.600406e+12
2015-10-01  1.516926e+12  1.925729e+13  4.608784e+12
2016-01-01  1.534488e+12  1.624100e+13  4.631483e+12

Changing the data to percentage change:

In [42]:
gdp_change=gdp_comparison.pct_change()*100
print(gdp_change.head())

              Brazil      China       USA
DATE
2015-01-01       NaN        NaN       NaN
2015-04-01 -0.381765  11.520472  1.197191
2015-07-01  1.173662   4.774853  0.666540
2015-10-01  0.948240   9.046097  0.182109
2016-01-01  1.157684 -15.663107  0.492516

Dropping NA for creating a chart:

In [43]:
gdp_change = gdp_change.dropna()
print(gdp_change.head())

              Brazil      China       USA
DATE
2015-04-01 -0.381765  11.520472  1.197191
2015-07-01  1.173662   4.774853  0.666540
2015-10-01  0.948240   9.046097  0.182109
2016-01-01  1.157684 -15.663107  0.492516
2016-04-01  1.915231  11.697679  1.002751

As seen before, this is a DataFrame in which the columns can be edited, the numbers can be dropped and the information changed. This is important when applying certain loops as well as when developing a portfolio, which will be seen in future chapters.